*.dll filter=lfs diff=lfs merge=lfs -text
*.template_release filter=lfs diff=lfs merge=lfs -text
*.wasm filter=lfs diff=lfs merge=lfs -text
*.glb filter=lfs diff=lfs merge=lfs -text
assets/mannequiny/Azul.material filter=lfs diff=lfs merge=lfs -text
assets/mannequiny/Blanco.material filter=lfs diff=lfs merge=lfs -text
assets/mannequiny/Negro.material filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.fbx filter=lfs diff=lfs merge=lfs -text
assets/anim/idle.res filter=lfs diff=lfs merge=lfs -text
assets/anim/run.res filter=lfs diff=lfs merge=lfs -text
assets/anim/walk.res filter=lfs diff=lfs merge=lfs -text
env.res filter=lfs diff=lfs merge=lfs -text
